.login_warp{
	width: 100%;
	height: 100%;
	/*background:url(../images/bgligon.png);*/
	background-color: #508CB6;
	background-size: cover;
	position: relative;
}
.loginbtn:hover{
	background-color: #2272B1!important;
}
.column{
	max-width: 450px;
}
.grid{
	width: 425px;
	height: 340px;
	margin: auto;
	position: absolute;
	top:calc(50% - 150px);
	right:6%;
	bottom: 0;
	/*right: 0;*/
}
.ui.segment{
	opacity: .9;
	background-color: rgba(255,255,255,.8);
}
.ui.message{
	margin-top: 30px;
	opacity: .9;
	background-color: rgba(255,255,255,.8);
}
.ui.teal.button{
	background-color: #207BC2;
}



/*         yun_img          */



.yun_img{
	width: 100%;
	height: 100%;
	animation: sunrise 15s linear infinite;
	/*animation-timing-function:sunrise 5s ;*/
	/*-moz-animation: sunrise 5s;
	-webkit-animation: sunrise 5s;
	-o-animation: sunrise 5s;*/
}
.yun_img_one{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	top:0;
	/*background-color: red;*/
	animation: sunrise_one  15s infinite linear ;
}

.fj_img{
	width:677px;
	height:226px;
	position:absolute;
	left:4%;
	top: calc(50% - 113px);
	opacity: 0.9;
}

@keyframes sunrise {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);

	}
}
@keyframes sunrise_one {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);

	}
}
